label {
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #fafafb;
}
.small {
  padding: 3px 10px;
  height: 38px;
  width: 200px;
  border: 1px solid #f1f3f4;
}
.medium {
  padding: 7px 10px;
  height: 46px;
  width: 250px;
  border: 1px solid #f1f3f4;
}
.large {
  padding: 11px 10px;
  height: 60px;
  width: 300px;
  border: 1px solid#F1F3F4;
}
